/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

font-family: 'Poiret One', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Michroma', sans-serif;
font-family: 'Allerta Stencil', sans-serif;
font-family: 'Voltaire', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Fjalla One', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    background-color: rgb(242, 242, 242);
}

body {
    color: #d4e7e9;
/*    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
    font-weight: 300;
    font-size: 15px;
    margin: 5px;
    background-color: #4c5f66;
}

body > * {

}

header {
   
}

h1 {
     margin: 0;
     flex: 2;
}

div.logo {
    padding:30px;
    padding-top: 50px;
    line-height: 96px;
}

div.logo span {
    color: rgb(96, 178, 250);
    display: block;
    width: 212px;
}

div.wrapper {
    display: flex;
    flex-wrap: wrap;
}

div.wrapper article {
    flex: 4;
}

.bloc {
    
}

a,a:visited,a:hover,a:active {
    color: #d4e7e9;
    text-decoration: none;
}

article {
  padding: 0 20px 20px 20px;
  margin: 0.5em;
}

.shadow {

}

ul {
    margin: 0;
    padding: 0;
}

nav > ul > li:hover {
  background-color: rgba(0,0,0,0.2);
}
 
li {
    list-style-type: none;
     
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; 
}

nav#main {
    flex: 0 1 auto;
    font-size: 2em;
    text-align: right;
}

nav#main > ul > li > a {
    display: block;
    line-height: 56px;
    padding: 0 30px;
    text-decoration: none;
    color: rgb(173, 215, 252);
}

.wide {
    margin: 20px 0 20px 0;
}

/* recipes item in sidebar */

nav.sidebar {
    flex: 0 3 auto;
}

nav.sidebar > ul > li > a {
    display: block;
    line-height: 56px;
    padding: 0 30px;
    font-size: 1.3em;
}

/* recipe item in list */
ul.line {
    display: flex;
    vertical-align: middle;
    flex-wrap: wrap;
} 

ul.line li {
  flex: 1 1 400px;
  font-size: 2em;
  text-align: center;
  background-color: rgba(255,255,255,0.10);
  margin: 0.5em;
}

ul.line li:hover {
 border-color: rgba(255,255,255,0.5);
 background-color: rgba(0,0,0,0.1);
}

ul.line li img {
  width: 400px;
}

ul.line li a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 6em;
  vertical-align: middle;
}

/* simple vertical list */

nav.sidebar {
    flex: 1 1 2em;
    margin: 0 0.5em 0.5em 0.5em;
}

ul.vertical {
    line-height: 2em;
}

/* recipe description */
div.wrapper .etiquette {
}

.etiquette img {
    width: 400px;
}

div.wrapper .metrics {
    flex: 2;
}

h2 {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

h3 {
    padding-top: 4em;
}

/* for tables */
table {
    width: 100%;
}

table th {
    padding: 0.25em;
    background: rgba(255, 255, 255, 0.2);
}

table th:first-child {
    text-align: left;
    padding-left:20px;
}
table tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
table tr {
    text-align: center;
    padding-left:20px;
}
table td:first-child {
    text-align: left;
    padding-left:20px;
    border-left: 0;
}
table td {
    padding: 0.25em;
}

table tr:last-child td {
    border-bottom:0;
}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
