/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

font-family: 'Poiret One', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Michroma', sans-serif;
font-family: 'Allerta Stencil', sans-serif;
font-family: 'Voltaire', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Fjalla One', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

h1,h2,h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; 
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles for MOBILE first
   ========================================================================== */

html {
    background-color: rgb(96, 178, 250);
}

body {
    color: #d4e7e9;
    background-color: #4c5f66;
}

header {
  padding-bottom: 2em;
}

/* Main wrapper */
div.wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* Simple little logo */
div.logo span.first-line {
  font-size: 2em;
  line-height: 67px;
}

div.logo span.second-line {
  font-size: 0.84em;
  line-height: 16px;
  margin-left: 2px;
}

.clear {
  margin-top: 2em;
}

.indent {
  margin: 0.5em;
}

a, a:visited, a:hover, a:active {
  color: #d4e7e9;
  text-decoration: none;
}

nav > ul > li:hover {
  background-color: rgba(255,255,255,0.2);
}

nav a {
  line-height: 2em;
  padding: 0 1em;
  display: block;
}

nav.pagination {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}

nav.pagination a {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Logo magic */
div.logo span {
    color: rgb(246, 246, 246);
    display: block;
}

h1 {
     flex: 2;
}

/* Recipes should be three times bigger than the nav sidebar */
div.wrapper article {
    flex: 3;
}

/* Main navigation (recipes / tools) */
nav#main {
  font-size: 1em;
  flex: 0 1 auto;
  text-align: right;
}

/* recipes list */
ul.line {
  display: flex;
  vertical-align: middle;
  flex-wrap: wrap;
} 

ul.line li {
  flex: 1 1 350px;
  margin: 0.5em;
}

ul.line img {
  max-width:100%;
}

/* Recipe layout */
div.wrapper .etiquette {
    flex: 2;
    display: flex;
    align-items: center;
    margin: 0.5em;
}

div.wrapper .etiquette img {
  max-width: 100%;
}

div.wrapper .metrics {
    flex: 2;
}

/* article / recipe */

article {
  padding: 2em 0;
}

article .wrapper {
    flex-direction: column;
}

article h1,h2,h3 {
    display: inline;
    line-height: 2em;
}

article .title {
    background-color: rgba(255, 255, 255, 0.2);
    display: inline-block;
    padding-right: 0.5em;
}

article.recipe .title {
  display: block;
  text-align: center;
}

/* Vertical list */
ul.vertical li {
  padding-bottom: 0.5em;
}

/* for tables */
table {
    width: 100%;
}

table th {
    padding: 0.25em;
    background: rgba(255, 255, 255, 0.2);
}

table th:first-child {
    text-align: left;
}
table tr:first-child th:first-child {
    -moz-border-radius-topleft:3px;
    -webkit-border-top-left-radius:3px;
    border-top-left-radius:3px;
}
table tr:first-child th:last-child {
    -moz-border-radius-topright:3px;
    -webkit-border-top-right-radius:3px;
    border-top-right-radius:3px;
}
table tr {
    text-align: center;
}
table td:first-child {
    text-align: left;
    border-left: 0;
}
table td {
    padding: 0.25em;
}

table tr:last-child td {
    border-bottom:0;
}
table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:3px;
    -webkit-border-bottom-left-radius:3px;
    border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
    -moz-border-radius-bottomright:3px;
    -webkit-border-bottom-right-radius:3px;
    border-bottom-right-radius:3px;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/* Tablet + Desktop view */
@media only screen and (min-width: 35em) {
  body {
    margin: 1em;
    border: 0.5em solid rgba(255, 255, 255, 0.2);
  }

  div.logo span.first-line {
    font-size: 5em;
    line-height: 168px;
  }

  div.logo span.second-line {
    font-size: 2em;
    line-height: 58px;
    margin-left: 5px;
  }

  nav#main {
    font-size: 2em;
  }

  article .wrapper {
    flex-direction: row;
  }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
