<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="Homebrew recipes-recettes for Hopenstock nanobrewery, by Erik Clairiot - bière maison">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Voltaire" rel="stylesheet">
        
        <link rel="stylesheet" href="{{ "/css/normalize.css " | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/css/main.css " | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/css/custom.css " | prepend: site.baseurl }}">
        <script async src="{{ "/js/vendor/modernizr-2.8.3.min.js " | prepend: site.baseurl }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
        <div class="wrapper">
            <h1>
                <div class="logo">
                    <a href="{{ site.baseurl }}/"> 
                        <span class="first-line">HOP</span>
                        <span class="second-line">EN STOCK</span>
                    </a>
                </div>
            </h1>

            <nav id="main">
                <ul>
                    <li><a href="{{ site.baseurl }}{% link recipes.md %}">recipes</a></li>
             </ul>
            </nav>
        </div>
        </header>
