
        <h2>Brew log</h3>
        <p>Method Batch No-Sparge</p>

        <h3>Mash</h3>
        <table>
          <thead>
            <tr>              
              <th>metric</th>
              <th>estimated</th>
              <th>measured</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>mash duration</td>
              <td>60</td>
              <td>60</td>
            </tr>
            <tr>
              <td>strike water volume</td>
              <td>7.2L</td>
              <td>7.2L</td>
            </tr>
            <tr>
              <td>strike water temp</td>
              <td>71C</td>
              <td>71C</td>
            </tr>
            <tr>
              <td>mash out volume</td>
              <td>6L</td>
              <td>6.5L</td>
            </tr>
            <tr>
              <td>OG pre-boil</td>
              <td>1042</td>
              <td>1052</td>
            </tr>
          </tbody>
        </table>

        <h3>Boil</h3>
        <table>
          <thead>
            <tr>              
              <th>metric</th>
              <th>estimated</th>
              <th>measured</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>boil duration</td>
              <td>60</td>
              <td>60</td>
            </tr>
            <tr>
              <td>top-up water</td>
              <td>2.5L</td>
              <td>2.5L</td>
            </tr>
            <tr>
              <td>boil volume</td>
              <td>8L</td>
              <td>7.5L</td>
            </tr>
            <tr>
              <td>boil off volume</td>
              <td>1.5L</td>
              <td>1.5L</td>
            </tr>
            <tr>
              <td>post-boil volume</td>
              <td>6L</td>
              <td>6.6L</td>
            </tr>
            <tr>
              <td>in ferm volume</td>
              <td>5.7L</td>
              <td>5.7L</td>
            </tr>
            <tr>
              <td>loss volume</td>
              <td>0.3L</td>
              <td>0.3L</td>
            </tr>
          </tbody>
        </table>

        <h3>Fermentation</h3>
        <p>Fermentation during 14 days at around 20-24 C</p>

        <h3>Bottling</h3>
        <p>Bottled with 40g of plain sugar, stored at 20C for at least 14 days</p>

        <h3>Brew notes</h3>
        <p>Cool</p>