

   <h2>{{recipe.NAME}}</h2>
   <div class="wrapper">
    <div class="description">
    {{ content }}
    </div>
    <div class="metrics">
         <table>
            <tr>
              <td>style</td>
              <td>{{recipe.STYLE.NAME}}</td>
            </tr>
            <tr>
              <td>estimated ABV</td>
              <td>{{recipe.EST_ABV}}</td>
            </tr>
            <tr>
              <td>IBU</td>
              <td>{{recipe.IBU}}</td>
            </tr>
            <tr>
              <td>OG</td>
              <td>{{recipe.EST_OG}}</td>
            </tr>
            <tr>
              <td>FG</td>
              <td>{{recipe.EST_FG}}</td>
            </tr>
             <tr>
              <td>carbonation</td>
              <td>{{recipe.CARBONATION}}</td>
            </tr>
            <tr>
              <td>efficiency</td>
              <td>{{recipe.EFFICIENCY}}</td>
            </tr>
            <tr>
              <td>batch volume</td>
              <td>{{recipe.DISPLAY_BATCH_SIZE}}</td>
            </tr>
          </table>
        </div>
      </div>

        <h3>Fermentables</h3>
        <table>
          <thead>
            <tr>              
              <th>malt</th>
              <th>quantity</th>
              <th>ratio</th>
            </tr>
          </thead>
          <tbody>
          {% if recipe.FERMENTABLES.FERMENTABLE.NAME != null %}
            <tr>
              <td>{{recipe.FERMENTABLES.FERMENTABLE.NAME}}</td>
              <td>{{recipe.FERMENTABLES.FERMENTABLE.DISPLAY_AMOUNT}}</td>
              <td></td>
            </tr>
          {% else %}
          {% for fermentable in recipe.FERMENTABLES.FERMENTABLE %}
            <tr>
              <td>{{fermentable.NAME}}</td>
              <td>{{fermentable.DISPLAY_AMOUNT}}</td>
              <td></td>
            </tr>
          {% endfor %}
          {% endif %}
          </tbody>
        </table>


       <h3>Hops</h3>
       <table>
          <thead>
            <tr>              
              <th>variety</th>
              <th>alpha</th>
              <th>boil time</th>
              <th>quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for hop in recipe.HOPS.HOP %}
            <tr>
              <td>{{hop.NAME}}</td>
              <td>{{hop.ALPHA}}</td>
              <td>{{hop.DISPLAY_TIME}}</td>
              <td>{{hop.DISPLAY_AMOUNT}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <h3>Yeast</h3>
        <p>{{recipe.YEASTS.YEAST.DISPLAY_AMOUNT}} {{recipe.YEASTS.YEAST.NAME}}</p>