

   <h1 class="title">{{recipe.NAME}}</h1>
   {{ content }}
   <div class="wrapper clear">
      <div class="metrics">
         <table>
            <tr>
              <td>style</td>
              <td>{{recipe.STYLE.NAME}}</td>
            </tr>
            <tr>
              <td>estimated ABV</td>
              <td>{% include numf.html number=recipe.EST_ABV decimals=1 remove='%' %}%</td>
            </tr>
            <tr>
              <td>IBU</td>
              <td>{% include numf.html number=recipe.IBU decimals=0 remove='IBUs' %}</td>
            </tr>
            <tr>
              <td>OG</td>
              <td>{% include numf.html number=recipe.EST_OG decimals=3 remove='SG' %}</td>
            </tr>
            <tr>
              <td>FG</td>
              <td>{% include numf.html number=recipe.EST_FG decimals=3 remove='SG'%}</td>
            </tr>
             <tr>
              <td>carbonation</td>
              <td>{% include numf.html number=recipe.CARBONATION decimals=1 %}</td>
            </tr>
            <tr>
              <td>efficiency</td>
              <td>{% include numf.html number=recipe.EFFICIENCY decimals=0 %}%</td>
            </tr>
            <tr>
              <td>batch volume</td>
              <td>{% include numf.html number=recipe.DISPLAY_BATCH_SIZE decimals=1 remove='l' %}L</td>
            </tr>
          </table>
        </div>

        {% if page.image %}
        <div class="etiquette">
          <img src="{{ site.baseurl }}/images/{{ page.image }}" />
        </div>
        {% endif %}

      </div>

        <table class="wide clear">
          <thead>
            <tr>              
              <th>fermentables</th>
              <th>quantity (g)</th>
              <th>ratio</th>
            </tr>
          </thead>
          <tbody>
          {% if recipe.FERMENTABLES.FERMENTABLE.NAME != null %}
            <tr>
              <td>{{recipe.FERMENTABLES.FERMENTABLE.NAME}}</td>
              <td>{% include numf.html number=recipe.FERMENTABLES.FERMENTABLE.DISPLAY_AMOUNT decimals=0 %}</td>
              <td></td>
            </tr>
          {% else %}
          {% for fermentable in recipe.FERMENTABLES.FERMENTABLE %}
            <tr>
              <td>{{fermentable.NAME}}</td>
              <td>{% include numf.html number=fermentable.DISPLAY_AMOUNT decimals=0 %}</td>
              <td></td>
            </tr>
          {% endfor %}
          {% endif %}
          </tbody>
        </table>


       <table class="wide clear">
          <thead>
            <tr>              
              <th>hops variety</th>
              <th>alpha (%)</th>
              <th>boil time (min)</th>
              <th>quantity (g)</th>
            </tr>
          </thead>
          <tbody>
            {% for hop in recipe.HOPS.HOP %}
            <tr>
              <td>{{hop.NAME}}</td>
              <td>{% include numf.html number=hop.ALPHA decimals=1 %}</td>
              <td>{% include numf.html number=hop.DISPLAY_TIME decimals=0 remove='min' %}</td>
              <td>{% include numf.html number=hop.DISPLAY_AMOUNT decimals=1 remove='g' %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <table class="wide clear">
          <thead>
            <tr>              
              <th>yeast</th>
              <th>quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{recipe.YEASTS.YEAST.NAME}}</td>
              <td>{{recipe.YEASTS.YEAST.DISPLAY_AMOUNT}}</td>
            </tr>
          </tbody>
        </table>